{% extends 'layout.html' %}

{% block content %}
<div class="container align-self-center">
    <div class="row pt-5 justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-left">Proč?</h2>
            <p style="text-align: justify;"> 
                Realitní trh je ošklivé místo plné intrik, penězmi zkažených lidí, falešných úsměvů a podvodů. Už bylo na čase s tím něco udělat a tak se partička šikovných lidiček (jen já sám) řeklo, že s tím něco udělá. To je asi ta hezčí varianta, ale původem myšlenky je, že jsem někdy v prváku na bakaláři robil podobného, ale jednouššího crawlera v PHP (oh god pls no) pro jednu realitní kancelář. A protože lidi z vedení mají rádi tajné informace o ostatních a to ještě víc než peníze, tak se jim celkem zamlouvala myšlenka většího crawlera jako nástroje, díky kterému by mohli pozorovat historických údaje z Srealit. Zejména pak profesní historii makléřů.
            </p>
        </div>
        <div class="col-md-6 col-lg-4">
            <h2 class="text-left">Příběh</h2>
            <p style="text-align: justify;"> 
                Zpočátku byly cesty plné strastí a překážek v rámci Sreality a Selenium Browseru s frameworkem Scrapy v jazyku Python, který zpočátku skupinka méně než více ovládala, ale jeho použití bylo podmínkou k úkolu ze školního předmětu MI-DDW. Následovalo několik měsíců měření na serveru, kde se na program jaksi zapomnělo. Až po nějaké době se na něho opět vzpomenulo a bylo povšimnuto, že program naměřil přibližně půlroční historii všech největších realitek, poboček a makléřů z Sreality.
            </p>
            <p style="text-align: justify;"> 
                Následně se na naměřená data opět vzpomenulo v rámci výběru témata na semestrální práci pro předmět NI-PYT a udatný Miro Hr**čok (I hope he does not mind) jako jeden z vyučujících souhlasil s tématem práce.
            </p>
        </div>
    </div>
</div>
{% endblock %}